<h1>New Book</h1>

<%= form_with model: @book do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :author %>
        <%= f.collection_select(:author_id, @authors, :id, :full_name) %>
    </div>
    <div>
        <%= f.label :genres %>
        <%= f.collection_check_boxes(:genre_ids, @genres, :id, :name) %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>
